@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(48, 49, 49);
	color: white;
}

input[type="number"] {
	font-family: "Open Sans", sans-serif;
	width: 80%;
	border: 2px solid rgb(133, 133, 133);
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.4s;
}

input[type="number"]:focus {
	border-color: dodgerBlue;
	box-shadow: 0px 0px 6px 0px dodgerBlue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="date"] {
	font-family: "Open Sans", sans-serif;
	width: 80%;
	border: 2px solid rgb(133, 133, 133);
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.4s;
}

input[type="date"]:focus {
	border-color: dodgerBlue;
	box-shadow: 0px 0px 6px 0px dodgerBlue;
}

button {
	background-color: rgb(52, 119, 60);
	text-align: center;
	border-radius: 0px 5px 0px 5px;
	border: 2px solid rgb(44, 44, 44);
	width: 30%;
	color: #f2f2f2;
	font-weight: bold;
	font-size: larger;
	min-width: 200px;
	margin: 15px;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
}

.header {
	min-width: 50%;
	align-items: center;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	background-color: rgb(35, 100, 44);
	color: #f2f2f2;
	text-align: center;
	border: 2px solid #525557;
}

.input-box {
	margin-top: 20px;
	align-items: center;
	display: flex;
	flex-direction: column;
}
h1 {
	font-weight: bold;
}
.message {
	font-family: "Open Sans", sans-serif;
	color: #c7341a;
	font-size: 1.5rem;
	font-weight: bolder !important;
}
.gif {
	border: 2px solid #525557;
}

/* navbar */

.topnav {
	overflow: hidden;
	background-color: rgb(19, 18, 18);
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: rgb(31, 104, 40);
	color: white;
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: large;
}

.quiz-container {
	padding: 2rem;
	border: 2px solid green;
	border-radius: 0.5rem;
	margin: 1rem 0;
}

.quiz-container p {
	margin-bottom: 1rem;
}

.quiz-container label {
	margin-right: 0.5rem;
}
